@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: white;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.nav-bar .company-name {
  font-size: 1.5rem;
  margin: 0.5rem;
  left: 1rem;
}

.nav-bar .nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .nav li {
  list-style: none;
}

.nav-bar .nav__link {
  padding: 2rem;
  font-size: 1rem;
  font-weight: 800;
  color: black;
  display: block;
}

.nav-bar .nav__link:hover {
  color: blue;
}

.nav-bar .toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 25px;
}

.nav-bar .toggle-menu__bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.home {
  display: block;
  position: relative;
  top: 3rem;
  text-align: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .bio {
  width: 60vw;
}

.home .bio h2 {
  font-size: 4rem;
  padding-top: 3rem;
  text-align: start;
  color: #0f1864;
}

.home .bio h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 3rem;
  text-align: start;
  color: #0f1864;
}

.about {
  display: block;
  position: relative;
  top: 3rem;
  text-align: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  padding-top: 5rem;
  width: 60vw;
  font-size: 3rem;
  color: #0f1864;
}

.about__text {
  width: 60vw;
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 3.5rem;
  text-align: start;
  color: #0f1864;
}

.services {
  display: block;
  position: relative;
  top: 4rem;
  padding-top: 6rem;
  text-align: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__title {
  width: 100vw;
  font-size: 2rem;
  color: #0f1864;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.services__list {
  width: 50vw;
  padding-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 10fr;
      grid-template-columns: 10fr 10fr;
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0f1864;
}

.services__list li {
  list-style-type: none;
  padding-top: 2.5rem;
  font-size: 1.8rem;
  width: 50vw;
  text-align: center;
}

.contact {
  display: block;
  position: relative;
  top: 10rem;
  padding-top: 6rem;
  text-align: center;
  z-index: 1;
  width: 100vw;
  height: 120vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  width: 100vw;
  font-size: 2rem;
  color: #0f1864;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact__info {
  padding-top: 2rem;
  font-size: 1rem;
  color: #0f1864;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3rem;
}

.contact h3 {
  padding-top: 3rem;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.contact .google-api__map {
  width: 350px;
  height: 450px;
  border: solid;
  position: relative;
}

@media screen and (max-width: 850px) {
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav-bar .nav__list {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .nav-bar .nav .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar .nav .nav__link {
    border-bottom: solid;
    width: 100%;
  }
  .nav-bar .nav .nav__link a {
    padding: 0.9rem;
  }
  .nav-bar .toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home {
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 18rem;
  }
  .home .bio h2 {
    font-size: 2.2rem;
  }
  .home .bio h3 {
    font-size: 1.2rem;
  }
  .about {
    padding-top: 28rem;
    padding-bottom: 50rem;
  }
  .about__title {
    padding-top: 10rem;
    width: 70vw;
    font-size: 2rem;
    color: #0f1864;
  }
  .about__text {
    width: 70vw;
    font-size: 1rem;
    line-height: 2rem;
    padding-top: 3.5rem;
    font-size: 0.8rem;
  }
  .services {
    top: 4rem;
    padding-top: 8rem;
    padding-bottom: 50rem;
  }
  .services__title {
    font-size: 1.5rem;
    color: #0f1864;
  }
  .services__list {
    width: 100vw;
    padding-top: 3rem;
    display: inline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #0f1864;
  }
  .services__list li {
    list-style-type: none;
    padding-top: 2.5rem;
    font-size: 1.2rem;
    width: 100vw;
  }
  .contact {
    top: 5rem;
    padding-top: 6rem;
  }
  .contact__title {
    width: 100vw;
    font-size: 2rem;
    color: #0f1864;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 5rem;
  }
  .contact__info {
    padding-top: 2rem;
    color: #0f1864;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1rem;
  }
  .contact__info h2 {
    font-size: 1.2rem;
  }
  .gallery .gallery-container .slide img {
    width: 350px;
    height: 300px;
  }
  footer {
    padding-top: 6rem;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .EUfondovi1 img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    padding-top: 10rem;
  }
  footer .EUfondovi2 img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
  }
  footer .EUtext h2 {
    font-size: 1rem;
    line-height: 2rem;
    color: #0f1864;
  }
  footer .copyright h2 {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .home {
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 18rem;
  }
  .home .bio h2 {
    font-size: 2.5rem;
  }
  .home .bio h3 {
    font-size: 1.5rem;
  }
  .about {
    padding-top: 22rem;
    padding-bottom: 50rem;
  }
  .about__title {
    width: 70vw;
    font-size: 2.5rem;
    color: #0f1864;
  }
  .about__text {
    width: 70vw;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3.5rem;
    font-size: 0.8rem;
  }
  .services {
    top: 4rem;
    padding-top: 8rem;
    padding-bottom: 50rem;
  }
  .services__title {
    width: 100vw;
    font-size: 1.8rem;
    color: #0f1864;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .services__list {
    width: 100vw;
    padding-top: 3rem;
  }
  .services__list li {
    padding-top: 2.5rem;
    font-size: 1.2rem;
  }
  .gallery {
    padding-bottom: 60rem;
  }
  .gallery .gallery-container .slide img {
    width: 350px;
    height: 300px;
  }
  .contact {
    top: 5rem;
    padding-top: 6rem;
  }
  .contact__title {
    width: 100vw;
    font-size: 1.5rem;
    color: #0f1864;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact__info {
    padding-top: 2rem;
    font-size: 1rem;
    color: #0f1864;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 3rem;
  }
  .contact h3 {
    padding-top: 3rem;
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  footer {
    padding-top: 6rem;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .EUfondovi1 img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
  }
  footer .EUfondovi2 img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
  }
  footer .EUtext h2 {
    font-size: 1rem;
    line-height: 2rem;
    color: #0f1864;
  }
  footer .copyright h2 {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1rem;
  }
}

.gallery {
  display: block;
  position: relative;
  top: 5rem;
  padding-top: 6rem;
  text-align: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60rem;
}

.gallery__title {
  width: 100vw;
  font-size: 2rem;
  color: #0f1864;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.gallery .gallery-container {
  width: 100vw;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery-container .slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
}

.gallery .gallery-container .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.gallery .gallery-container .slide img {
  width: 480px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid;
}

.gallery .gallery-container .slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2.25rem;
  cursor: pointer;
}

.gallery .gallery-container .slider__btn--left {
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery .gallery-container .slider__btn--right {
  right: 20%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.7))), url("../img/background.jpg") center top;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url("../img/background.jpg") center top;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: set-text-color(white);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
}

main {
  width: 100vw;
  height: 100vh;
}

a:visited {
  color: #0f1864;
}

.btn-down {
  position: relative;
  background: none;
  border: none;
  color: #0f1864;
  padding-top: 4rem;
  padding-bottom: 2px;
  text-align: center;
}

.btn-down__text {
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.btn-down__arrowdown {
  font-size: 2rem;
  cursor: pointer;
}

footer {
  padding-top: 16rem;
  width: 100vw;
  bottom: 5rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .EUfondovi1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .EUfondovi2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .EUtext {
  font-size: 1rem;
  line-height: 2rem;
  color: #0f1864;
}

footer .copyright {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/*# sourceMappingURL=main.css.map */